* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.wraper {
  width: 80%;
  margin: 10% auto;

  overflow: hidden;
}
.accord {
  background: #32adcc;
  padding: 20px 26px;
  transition: 0.9s;
}
summary {
  font-weight: bold;
  overflow: hidden;
  transition: 0.9s;
}
details p {
  margin: 10px 0;
  color: rgb(69, 70, 71);
}
.spacer {
  margin: 5px 0;
}
